.btn{
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 8px 0;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #7357ff;
    color: white;
    margin-bottom: 10PX;
}
.btn:hover{
    background-color: #7660e0;
}
.btn:disabled{
    background-color: grey;
    cursor: no-drop;
}
  
  