.btn{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: #488aec;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}
  
  