.card{
    background-color:#D6DAC8 ;
    display: grid;
    grid-template-columns: 10px 1fr 100px 100px;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 10px;
    /* margin-top: 5px; */
}
.card button{
    margin: 0;
}
.strike{
    text-decoration: line-through;
    color: gray;
}