.card{
    background-color: #D6DAC8;
    font-size: 1rem;
    border-radius: 10px;
    padding: 8px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 10px 1fr 100px 100px;
    column-gap: 5px;
    margin-bottom: 5px;
    
}
.card > button{
    margin-top: 0 ;
}